!!! 5
%html
  %head
    %meta{"name"=>"viewport", "content"=>"width=device-width", "initial-scale"=>1}
    = csrf_meta_tag
    = javascript_include_tag :application
    = stylesheet_link_tag :application, media: 'all'

    /[if lt IE 9]
      = javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.min.js'
  %body
    .row
      .col-md-12
        .container
          .row
            = render 'navigation'
          .row
            - if alert
              %p.alert= alert
            - if notice
              %p.notice= notice
          .row
            = yield